<% layout('layouts/boilerplate') %> 
    <h1>Modifica <%= puesto.title %> </h1>
    <form action="/puestos/<%=puesto._id%>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Nombre del puesto:</label>
            <input class="form-control" type="text" id="title" name="Puesto[title]" value="<%= puesto.title %> " required>
            <div class="valid-feedback">
                Bien hecho
              </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="calle">Calle:</label>
            <input class="form-control" type="text" id="calle" name="Puesto[calle]" value="<%= puesto.calle %> " required>
            <div class="valid-feedback">
                Bien hecho
              </div>
        </div>
        <div class="mb-3">
            <label class="form-label " for="descripción">Cuentame sobre tus tacos:</label>
            <textarea class="form-control" type="text" id="descripción" name="Puesto[descripción]" required><%= puesto.descripción %></textarea>
            <div class="valid-feedback">
                Bien hecho
              </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Agrega fotos:</label>
            <input class="form-control" type="file" id="image" name="image" multiple>
        </div>
        <div class="mb-3">
            <% puesto.images.forEach(function(img, i){ %>
                <img src="<%=img.thumbnail%> " class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">¿Eliminar?</label>
            <% }) %> 
        </div>
        <div class="mb-3">
        <button class="btn btn-info">Guardar cambios</button></div>
    </form>
    <a class="btn btn-primary" href="/puestos">de Vuelta</a>
