<% layout('layouts/boilerplate') %> 
    <h1>Modifica <%= puesto.title %> </h1>
    <form action="/puestos/<%=puesto._id%>?_method=PUT" method="post">
        <div class="mb-3">
            <label class="form-label" for="title">Nombre del puesto:</label>
            <input class="form-control" type="text" id="title" name="title" value="<%= puesto.title %> ">
        </div>
        <div class="mb-3">
            <label class="form-label" for="calle">Calle:</label>
            <input class="form-control" type="text" id="calle" name="calle" value="<%= puesto.calle %> ">
        </div>
        <div class="mb-3">
            <label class="form-label " for="descripci贸n">Cuentame sobre tus tacos:</label>
            <textarea class="form-control" type="text" id="descripci贸n" name="descripci贸n"><%= puesto.descripci贸n %></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label " for="image">Enlace con la foto de tu puesto:</label>
            <input class="form-control" type="text" id="image" name="image" value="<%= puesto.image %> ">
        </div>
        <div class="mb-3">
        <button class="btn btn-info">Guardar cambios</button></div>
    </form>
    <a class="btn btn-primary" href="/puestos">de Vuelta</a>
