<% layout('layouts/boilerplate') %> 
    <h1>Modifica <%= puesto.title %> </h1>
    <form action="/puestos/<%=puesto._id%>?_method=PUT" method="post" novalidate class="needs-validation">
        <div class="mb-3">
            <label class="form-label" for="title">Nombre del puesto:</label>
            <input class="form-control" type="text" id="title" name="Puesto[title]" value="<%= puesto.title %> " required>
            <div class="valid-feedback">
                Bien hecho
              </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="calle">Calle:</label>
            <input class="form-control" type="text" id="calle" name="Puesto[calle]" value="<%= puesto.calle %> " required>
            <div class="valid-feedback">
                Bien hecho
              </div>
        </div>
        <div class="mb-3">
            <label class="form-label " for="descripci贸n">Cuentame sobre tus tacos:</label>
            <textarea class="form-control" type="text" id="descripci贸n" name="Puesto[descripci贸n]" required><%= puesto.descripci贸n %></textarea>
            <div class="valid-feedback">
                Bien hecho
              </div>
        </div>
        <div class="mb-3">
            <label class="form-label " for="image">Enlace con la foto de tu puesto:</label>
            <input class="form-control" type="text" id="image" name="Puesto[image]" value="<%= puesto.image %> " required>
            <div class="valid-feedback">
                Bien hecho
              </div>
        </div>
        <div class="mb-3">
        <button class="btn btn-info">Guardar cambios</button></div>
    </form>
    <a class="btn btn-primary" href="/puestos">de Vuelta</a>
