<% layout('layouts/boilerplate') %> 
<div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%=puesto.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= puesto.title %></h5>
                  <p class="card-text"><%= puesto.descripción %> </p>
                  <p class="card-text"><%= puesto.calle %></p>
                  <h3>Menú</h3>
                  <ol>
                    <% for(let taco of puesto.tacos ) { %>
                      <li><%= taco.title %></li>
                        <ul>
                          <li>$<%= taco.precio%>.00 MXN C/U </li>
                          <li> <b> Descripción</b>: <%= taco.descripción %> </li>
                        </ul>  
                    
                    <% } %>
                  </ol>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a class="card-link btn btn-primary" href="/puestos/<%=puesto._id%>/newTacos/new">Agrega tacos a tú menú</a></li>
                  <li class="list-group-item"><a class="card-link btn btn-primary" href="/puestos">De vuelta al index</a></li>
                  <li class="list-group-item"><a class="card-link btn btn-info" href="/puestos/<%=puesto._id%>/edit">Modificar</a></li>
                </ul>
                <div class="card-body">
                    <form action="/puestos/<%=puesto._id%>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Eliminar</button>
                    </form>   
                </div>
              </div>
        </div>
</div>

    